<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact Us | PHASAL</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="../static/images/logo.svg" alt="Logo" width="30" height="24">
        PHASAL
      </a>
      <a class="nav-link text-light" href="/">Back to Home</a>
    </div>
  </nav>

  <div class="container mt-5">
    <h2>Contact Us</h2>
    <p>If you have any questions, suggestions or issues, feel free to reach out.</p>
    <ul class="list-group">
      <li class="list-group-item">📧 Email: <a href="mailto:fhasalcrop34@gmail.com">phasal34@gmail.com</a></li>
      <li class="list-group-item">📞 Contact No: <a href="tel:+917020880420">7020880420</a></li>
    </ul>
  </div>

  <!-- Tawk.to Chat Widget -->
  <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/684c725eca8f0d190df51790/1itl9tha2';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
    })();
  </script>
</body>
</html>
